<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="staticFiles/HomeStyle.css">
  </head>
  <body>
    
    <div class="navbardiv">
    <ul class="navbar">
      <li class="navbaritem"><a class="navbutton" href="/chat">chat</a></li>
      <li class="navbaritem"><a class="navbutton" href="/register">Register</a></li>
      <li class="navbaritem"><a class="navbutton" href="/login">Login</a></li>
      <li class="navbaritem"><a class="navbutton" href="/logout">Logout</a></li>
    </ul>
    </div>  

    <div style="display: block; position: absolute;">
    <h1>Witam {{username}}</h1>
    </div>
  </body>
</html>