<html>
<head>
<title>Chat Room</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
<nav >
	<a href="/" style="text-align:right; text-decoration:none;"><h2>Strona główna<h2></a>

</nav>
<p hidden id="1">{{us}}</p>
<script>

$(document).ready(function() {
	
	var socket = io.connect('http://192.168.0.175:5000/');
	var data = document.getElementById("1").innerHTML;

	socket.on('connect', function() {
		socket.emit('requestforhistory');
	});

	socket.on('connect', function() {
		socket.send(data +" has connected!");
	});

	


	socket.on('message', function(msg) {
		$("#messages").append('<li>'+msg+'</li>');
	});

	$('#sendbutton').on('click', function() {
		if ($('#myMessage').val()!=='') {
			socket.send(data+": "+$('#myMessage').val());
			$('#myMessage').val('');
		}	
	});
});
</script>
<ul id="messages"></ul>

<input type="text" id="myMessage">
<button id="sendbutton">Send</button>
<h>


</body>
</html>